@font-face {
    font-family: DancingScript;
    src: url('dancing-script.regular.ttf');
}

.container{
    background-color: red;
    margin: 0 auto;
    width: 65em;
    border: 5px solid black;
    border-radius: 25px;
}

.logo{
    text-align: center;
    font-family: 'DancingScript';
    margin-top:40px;
    font-size:57px;
    font-weight: 300;
    color: gold;
}

.grid-container{
    display: flex;
    border: 3px solid #333;
    /* border-radius: 1em; */
    width: 50em;
    height: 65vh;
    margin: auto;
    margin-top: 10px;
    background-color: #dfdfdf;
}

#grid{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-wrap: wrap;
}

.gridBox{
    flex: 1 1 auto;
}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.erase{
    width: 10em;
    margin-top: 15px;
    height: 5em;
    border: 3px solid black;
}

.change-dimensions-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
    border: 3px solid black;
    padding: 10px;
    background-color: #dfdfdf;
    gap: 10px;
    align-items: center;
}

.knob-x, .knob-y{
    background: white;
    border: 5px solid grey;
    border-radius: 50%;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
}

