@font-face {
    font-family: DancingScript;
    src: url('dancing-script.regular.ttf');
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container{
    display: flex;
    margin-top: 2em;
}

.control-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background-color: #CDFFFF;
    border: 3px solid black;
    padding: 10px;
    border-radius: 1em;
    margin-left: 1em;
}

#controls{
    text-align: center;
}

#dimension-size{
    width: 20em;
    height: 2em;
    border: 1px solid black;
    border-radius: 0.5em;
}

button{
    padding: 8px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 1em;
    background-color: #DAF7A6;
    font-size: 1em;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.horizontal-controls,
.vertical-controls,
.erase-control,
#dimensions-title{
    font-size: 20px;
}

#screen-container{
    background-color: red;
    margin: 0 auto;
    width: 65em;
    border: 5px solid black;
    border-radius: 25px;
}

#logo{
    text-align: center;
    font-family: 'DancingScript';
    margin-top:12px;
    font-size:57px;
    font-weight: 300;
    color: #ffcc00;
}

.grid-container{
    display: flex;
    border: 8px solid #333;
    border-radius: 0.5em;
    width: 50em;
    height: 65vh;
    margin: auto;
    margin-top: 10px;
    background-color: #dfdfdf;
}

#grid{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-wrap: wrap;
}

.gridBox{
    flex: 1 1 auto;
}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.erase{
    width: 10em;
    margin-top: 15px;
    height: 5em;
    border: 3px solid black;
}

.change-dimensions-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
    border-radius: 1em;
    border: 3px solid black;
    padding: 10px;
    background-color: #4FD5D6;
    gap: 10px;
    align-items: center;
}

.knob-x{
    margin-left: 8px;
    box-shadow: inset 0.5px 1px 3px 1px grey;
}

.knob-y{
    margin-right: 8px;
    box-shadow: inset 0.5px 1px 3px 1px grey;
}

.knob-x, .knob-y{
    background: white;
    border: 5px solid grey;
    border-radius: 50%;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
}

.shake-anim{
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, -30px, 0);
    }
    
    20%, 80% {
      transform: translate3d(10px, 30px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-10px, -30px, 0);
    }
  
    40%, 60% {
      transform: translate3d(10px, 30px, 0);
    }
  }
