.grid-container{
    display: flex;
    border: 3px solid #333;
    width: 40vw;
    height: 65vh;
    margin: auto;
    margin-top: 60px;
    background-color: #dfdfdf;
}

#grid{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.gridbox{
    background-color: #333;
    width: 1vw;
    height: 1vh;
}